html, body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    color: #111;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
h3 {
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 2rem;
}
@media (min-width: 768px) {
    h3 {
        font-size: 4.8rem;
    }
}
a, a:hover, a:focus {
    text-decoration: none;
}
p {
    font-size: 1.8rem;
    line-height: 3rem;
}
ul {
    list-style: none;
}
.button {
    border-radius: 0;
    padding: 1.5rem 2.5rem;
    font-size: 1.6rem;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.navigation {
    display: flex;
    height: 6rem;
}
@media (min-width: 1152px) {
    .navigation {
        height: 9rem;
    }
}
.navigation .logo-company {
    width: 120px;
    height: 4rem;
    display: flex;
    align-items: center;
}
.navigation nav {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (min-width: 1152px) {
    .navigation nav {
        margin-left: auto;
        margin-right: auto;
        max-width: 1152px;
    }
}
.navigation nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: static;
    display: flex;
    align-items: center;
    width: 100%;
}
.navigation nav ul>li.signin {
    margin-left: 5rem;
    font-weight: bold;
}
.navigation nav ul>li.register>a {
    color: #fff;
    height: 4rem;
    margin-top: 0;
}
.navigation nav ul>li>a {
    line-height: 2;
    display: block;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #111;
}
@media (min-width: 1152px) {
    .navigation nav ul>li>a {
        line-height: 1.5;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
.hero .main {
    padding: 7rem 6rem;
}
@media (min-width: 576px) {
    .hero .main {
        padding-top: 12rem;
        padding-bottom: 10rem;
    }
}
.hero header h2 {
    font-weight: bold;
    font-size: 56px;
}
@media (min-width: 768px) {
    .hero header h2 {
        line-height: 1;
        font-size: 7.2rem;
    }
}
.hero header p {
    margin-top: 3.5rem;
    color: #333;
    line-height: 3rem;
    font-size: 1.8rem;
}
@media (min-width: 768px) {
    .hero header p {
        margin-top: 5rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 480px;
    }
}
@media (min-width: 768px) {
    .hero .button {
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 4.5rem;
        width: 178px;
    }
}
.hero .main .next-section {
    display: none;
}
@media (min-width: 768px) {
    .hero .main .next-section {
        display: block;
        text-align: center;
        margin-top: 5.5rem;
    }
}
.wrap {
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.slider>.container {
    width: 60%;
}
.slider .carousel-inner>.item>img {
    width: 100%;
    max-height: 100vh;
}
.slider .carousel-control {
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider .carousel-control>.material-icons {
    font-size: 8rem;
}
@media (max-width: 1366px) {
    section {
        margin-left: auto;
        margin-right: auto;
        max-width: 1366px;
    }
}
@media (min-width: 1367px) {
    section {
        margin-left: auto;
        margin-right: auto;
        max-width: 1152px;
    }
}
.why > .container {
    display: flex;
}
.why > .container >* {
    flex: 1 1 50%;
}
.why .why-content{
    text-align: center;
}
.why .why-content.right {
    margin-right: 4rem;
}
.why .why-content.left {
    margin-left: 4rem;
}
.why .why-content img {
    width: 100%;
    margin-top: 2rem;
}
@media (min-width: 768px) {
    .why .why-content.right {
        text-align: right;
    }
    .why .why-content.left {
        text-align: left;
    }
    .why .why-content h3 {
        line-height: 7rem;
        margin-bottom: 3.5rem;
    }
    .why .why-content p {
        color: #444444;
        margin-bottom: 7rem;
    }
}
.why .embed-responsive {
    padding-bottom: 400px;
    overflow: hidden;
    margin-top: 2rem;
}
.clients ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6rem 0 0;
    flex-wrap: wrap;
    padding: 0;
}
.clients ul>li {
    margin: 0 2rem 2rem 0;
}
.bg-grey {
    background-color: #f4f5f6;
}
footer {
    padding-top: 6rem;
    padding-bottom: 2rem;
    border-top: 1px solid #d8d8d8;
    line-height: 2;
    background-color: #333;
}
footer .footer-content {
    display: flex;
}
footer .footer-content >* {
    flex: 1 1 100%;
    padding: 0;
    margin-bottom: 4rem;
}
footer ul>li:first-child {
    margin-bottom: 1.5rem;
}
footer ul>li,
footer ul>li>a,
footer .copy {
    color: #FFFFFF;
}