.faq-form-inner {
    margin-top: 12rem;
    margin-bottom: 8rem;
}
.faq-form-inner h2,
.faq-detail-inner h2{
    margin-bottom: 3rem;
}
.faq-form-inner form {
    width: 50%;
    margin: auto;    
}
.faq-search form {
    display: flex;
    align-items: stretch;
}
.faq-search form>input {
    padding-right: 4rem;
}
.faq-search form>button {
    background-color: transparent;
    border: none;
    margin-left: -40px;
    display: flex;
    outline: none;
}
.faq-list-item {
    margin: 0;
    padding: 0;
    width: 80%;
    margin: auto;
}
.faq-list-item.side {
    width: auto;
    font-size: 1.4rem;
}
.faq-list-item > li {
    padding: 1.5rem 0;
    border-bottom: 1px solid #ddd;
    font-size: 1.8rem;
}
.faq-list-item.side > li {
    font-size: 1.4rem;
}
.faq-detail-inner p{
    font-size: 1.6rem;    
}